.commentLayout {
  display: flex;
  width: 1280px;
  height: 460px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  /* border: solid 1px blue; */
  /* background-color: lightblue; */
}

.commentBody {
  display: flex;
  width: 1280px;
  height: 400px;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  /* border: solid 1px red; */

  /* background-color: yellow; */
}

.commentTop {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 60px;
  height: 24px;
  /* border: solid 1px pink; */
}

.text {
  /* sb_16_24 */
  font-family: 'Pretendard Variable';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.rank {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.commentMiddle {
  display: flex;
  height: 304px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;
  /* border: solid 1px red; */
}

.commentInfo {
  height: 240px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  /* border: solid 1px skyblue; */
  /* background-color: skyblue; */
}

.enroll-row {
  display: flex;
  justify-content: flex-start;
  width: 640px;
  height: 80px;
  /* align-items: flex-start; */
  gap: 16px;
  /* border: solid 1px gray; */
  /* background-color: yellow; */
}

.enroll-required-indicator {
  color: var(--red, #f66a6a);

  /* me_16_24 */
  font-family: 'Pretendard Variable';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.enroll-form {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  /* flex: 1 0 0; */

  /* border: solid 1px red; */
  /* background-color: pink; */
}

.buttonText {
  color: var(--gray-100, #e4e4e4);
  text-align: center;
  /* sb_18_24 */
  font-family: 'Pretendard Variable';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.enroll-form-writer {
  width: 100%;
  height: 24px;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  /* align-items: flex-start; */
  /* align-self: stretch; */
  gap: 4px;

  /* border: solid 1px blue; */
}

.enroll-input {
  gap: 8px;
  width: 312px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  /* flex: 1 0 0; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* align-self: stretch; */
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  box-sizing: border-box;
}

.content-input {
  gap: 8px;
  /* width: 1280px; */
  /* height: 120px; */
  display: flex;
  padding: 12px 16px;
  /* flex: 1 0 0; */
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  box-sizing: border-box;
}

.commentInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  height: 144px;
  padding: 12px 16px;

  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  box-sizing: border-box;

  /* background-color: lightcoral; */
}

.textarea {
  width: 100%;
  min-height: 96px;
  border: none;
  /* background-color: gray; */
  resize: none;
}

.textCount {
  width: 100%;
  height: 24px;
  color: var(--Gray-Gray-400, #ababab);
  text-align: right;
  /* me_16_24 */
  font-family: 'Pretendard Variable';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.commentButton {
  /* width: 99px; */
  /* height: 48px; */
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  gap: 8px;

  border-radius: 8px;
  background: var(--gray-300, black);
  color: #e4e4e4;
}

.commentButton:disabled {
  /* width: 99px; */
  /* height: 48px; */
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  gap: 8px;

  border-radius: 8px;
  background: var(--gray-300, #c7c7c7);
  color: #e4e4e4;
}

.noCommentMs {
  align-self: stretch;

  color: var(--gray-600, #777);
  text-align: center;
  /* r_14_20 */
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
