.D_enroll-row-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  /* border: solid 1px red; */
  /* background-color: lightblue; */
}

.D_title {
  display: flex;
  width: 1280px;
  /* padding: 40px 0px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  background-color: white;
}

.D_title-text {
  color: #000;

  /* b_20_28 */
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 140% */
}

.D_info {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 16px;
  /* align-self: stretch; */
  width: 100%;
  /* height: 80px; */
  /* background-color: lightblue; */
}

.D_info-1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  /* justify-content: space-between; */
  color: #5f5f5f;
  gap: 54px;
  /* l_14_20 */
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
}

.D_info-1-profile {
  display: flex;
  align-items: center;
  width: 65px;
  height: 24px;
  gap: 4px;
}

.name {
  color: var(--gray-700, #5f5f5f);

  /* l_14_20 */
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.D_info-1-date {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  width: 1161px;
  /* height: 24px; */
  /* height: 24px; */
  gap: 54px;
  color: #818181;

  /* r_14_20 */
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.D_info-2 {
  display: flex;
  justify-content: flex-end;
  width: 1280px;
  height: 24px;
  /* background-color: lightgray; */
}

/* .D_info-2-icons {
    width: 56px;
    height: 24px;
    gap: 8px;
  } */

/* .D_picture-enroll-row {
      width: 400px;
      height: 531px;
  } */

.D_content {
  display: flex;
  flex-direction: column;

  color: #000;
  /* r_16_24 */
  font-family: 'Pretendard';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.D_preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: 24px 0;
  gap: 10px;
  /* height: 512px; */
  background: var(--gray-50, #f2f2f2);
}

.Like {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  /* width: 1280px; */
  height: 48px;
  gap: 24px;
}

.bad-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: 48px;
  gap: 4px;
}

.good-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: 48px;
  gap: 4px;
  color: red;
}

.D_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.button {
  /* width: 105px; */
  height: 40px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  /* sb_14_20 */
  /* font-family: "Pretendard Variable"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  border-radius: 8px;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);
}

.button p {
  vertical-align: middle;
}

/* .edit-button {
      height: 40px;
      display: flex;
      height: 40px;
      padding: 8px 12px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid var(--gray-B, #000);
      background: var(--gray-w, #FFF);
  } */

.D_enroll-border {
  width: 1280px;
  height: 1px;
  background: var(--gray-100, #e4e4e4);
}
