/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    width: 1168px;
    min-height: 720px;
    margin: 0 auto;
    overflow-y: auto;
}

/* Header */
.header {
    display: flex;
    height: 60px;
    min-width: 320px;
    max-width: 1168px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.site-title {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.18px;
}

/* Banner */
.banner {
    height: 240px;
    min-width: 320px;
    max-width: 1168px;
    border-radius: 24px;
    align-self: stretch;
    background-image: url("./assets/images/Rectangle 1.png");
    margin-top: 24px;
    margin-bottom: 24px;
}

/* Navigation */
.nav {
    display: flex;
    min-width: 204px;
    align-items: center;
    gap: 16px;
    flex: 100;
    margin-bottom: 42px;
}

.nav-tab {
    cursor: pointer;
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.24px;
}

.nav-tab.active {
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #000;
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.24px;
}

.nav-tab:hover {
    color: #333;
}

/* Main Content */
.main {
    display: flex;
    max-width: 1168px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    padding-bottom: 40px;
}

/* Diary Section */
.diary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
}

.diary-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.diary-card {
    display: flex;
    min-width: 380px;
    max-width: 380px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 16px;
    background: #FFF;
}

.card-image {
    display: flex;
    height: 285px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--emotion-image) lightgray 50% / cover no-repeat;
}

/* 감정별 설정 */
.diary-card.sad {
    --emotion-image: url("./assets/images/슬퍼요 (m).png");
    --emotion-color: #28B4E1;
    --emotion-text: "슬퍼요";
}

.diary-card.surprised {
    --emotion-image: url("./assets/images/놀랐어요 (m).png");
    --emotion-color: #D59029;
    --emotion-text: "놀랐어요";
}

.diary-card.angry {
    --emotion-image: url("./assets/images/화나요 (m).png");
    --emotion-color: #777777;
    --emotion-text: "화나요";
}

.diary-card.happy {
    --emotion-image: url("./assets/images/행복해요 (m).png");
    --emotion-color: #EA5757;
    --emotion-text: "행복해요";
}

.diary-card.other {
    --emotion-image: url("./assets/images/기타 (m).png");
    --emotion-color: #A229ED;
    --emotion-text: "기타";
}

.card-contents {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.card-division {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.card-emotion::before {
    content: var(--emotion-text);
}

.card-emotion {
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.14px;
    color: var(--emotion-color);
}

.card-date {
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.14px;
}

.card-title {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
}

/* Form Section */
.form-section {
    display: flex;
    width: 360px;
    min-width: 360px;
    max-width: 760px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
}

.form-title {
    align-self: stretch;
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.24px;
}

#diaryForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.title-label {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.emotion-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.emotion-options {
    display: flex;
    max-width: 592px;
    align-items: center;
    align-content: center;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

.emotion-option {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}

.emotion-option:hover {
    background-color: #f8f9fa;
}

.emotion-option input[type="radio"] {
    width: 24px;
    height: 24px;
}

.emotion-text {
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.18px;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.text-area-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.form-label {
    align-self: stretch;
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.form-input {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
}

.form-textarea {
    display: flex;
    height: 128px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
}

.submit-btn {
    align-self: stretch;
    display: flex;
    height: 48px;
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border: none;
    border-radius: 8px;
    background: var(--Gray-Gray-300, #C7C7C7);
}

.submit-text {
    color: var(--Gray-Gray-50, #F2F2F2);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.18px;
}

/* Footer */
.footer {
    display: flex;
    padding: 24px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--Gray-Gray-50, #F2F2F2);
}

.footer-area {
    display: flex;
    max-width: 1168px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.footer-text1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.2px;
}

.footer-text2 {
    align-self: stretch;
    color: var(--Gray-Gray-700, #5F5F5F);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.14px;
}

.footer-text3 {
    align-self: stretch;
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.14px;
}
